body{
    background-image:url(../images/noruega.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #EAEAEA;
    font-family: Arial, sans-serif;
}
.navegacion {
    text-align: center;
}
.navegacion a {
    color: #FFD700;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
}
.navegacion a:hover {
    background: rgba(255, 255, 255, 0.2);
}
a {
    color: #EAEAEA;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
}
.encabezado, .navegacion, .pie {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 95%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.encabezado h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
}
article {
 flex: 4;
}
aside {
  max-width: 200px;
  padding: 20px;
  font-size: 0.95em;
  line-height: 1.6;
  height: 100%;
}
section {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    background: rgba(255, 255, 255, 0.2);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.pie {
    text-align: center;
    font-size: 0.85em;
    color: #ccc;
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea, button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
button {
    background: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #5DADE2;
}
